<div id="loader" style="display:none;">
    <img src="~/imgs/loadingimg.gif" />
</div>

<h1>Edit Degree: </h1>
<div id="validationSummary" class="text-danger" style="display:none;">
</div>
<form id="degreeForm">
    <input type="hidden" id="DegreeId" />
    <div class="form-group">
        <label for="DegreeName" class="control-lable">Degree Name</label>
        <input id="DegreeName" class="form-control" />

    </div>

    <div class="form-group">
        <label for="DegreeDescription" class="control-lable">Degree Description</label>
        <input id="DegreeDescription" class="form-control" />

    </div>
    <div class="form-group">
        <input type="submit" value="Save" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
    </div>
</form>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {

        const jwtToken = getCookie('jwtToken');
        if (!jwtToken) {
            // Redirect to login page if jwtToken cookie is not available
            window.location.href = '/auth/login';
            return; // Stop further execution
        }
        GetDegreeDetails();
        $('#degreeForm').submit(function (e) {
            e.preventDefault() // Prevent default form submission
            if (ValidateDegreeForm()) {
                $('#loader').show()

                let degreeId = $('#DegreeId').val().trim();
                let degreeName = $('#DegreeName').val().trim();
                let degreeDescription = $('#DegreeDescription').val().trim();

                var requestData = {
                    degreeId: degreeId,
                    degreeName: degreeName,
                    degreeDescription: degreeDescription
                }

                $.ajax({
                    url: "http://localhost:5220/api/Degree/ModifyDegree",
                    type: "PUT",
                    contentType: "application/json",
                    data: JSON.stringify(requestData),
                    headers: {
                        'Authorization': 'Bearer ' + jwtToken
                    },
                    success: function (response) {
                        ShowMessage(response.message);
                        // window.location.href = "/DegreeAjax/Index";
                        // alert('Degree created successfully');

                    },
                    error: function (xhr, status, error) {


                        // alert('Something went worng. Please try after some time. ');
                        // Check if there is a responseText available
                        if (xhr.responseText) {

                            try {
                                // Parse the responseText into a JavaScript object
                                var errorResponse = JSON.parse(xhr.responseText);

                                // Check the properties of the errorResponse object
                                if (errorResponse && errorResponse.message) {
                                    // Display the error message to the user
                                    alert('Error: ' + errorResponse.message);
                                } else {
                                    // Display a generic error message
                                    alert('An error occurred. Please try again. ');

                                }
                            }


                            catch (parseError) {
                                console.error('Error parsing response:', parseError);
                                alert('An error occurred. Please try again. ');
                            }

                        } else {
                            // Display a generic error message if no responseText is available
                            alert('An unexpected error occurred. Please try again. ');
                        }

                    },
                    complete: function () {
                        $('#loader').hide();
                    }
                })
            }
        });
    });

    function getCookie(name) {
        const cookieValue = document.cookie
            .split('; ')
            .find(cookie => cookie.startsWith(name + '='))
            ?.split('=')[1];
        return cookieValue ? decodeURIComponent(cookieValue) : null;
    }

    function GetDegreeDetails() {
        const jwtToken = getCookie('jwtToken');
        if (!jwtToken) {
            // Redirect to login page if jwtToken cookie is not available
            window.location.href = '/auth/login';
            return; // Stop further execution
        }
        $('#loader').show();
        // alert('Degree details');
        var currentUrl = window.location.href;
        var id = currentUrl.substring(currentUrl.lastIndexOf('/') + 1);
        // alert('I got the id' + id);

        $.ajax({
            url: "http://localhost:5220/api/Degree/GetDegreeById/" + id,
            type: 'GET',
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (response) {
                if (response.success) {
                    $('#DegreeId').val(response.data.degreeId);
                    $('#DegreeName').val(response.data.degreeName);
                    $('#DegreeDescription').val(response.data.degreeDescription);
                }
            },
            error: function (xhr, status, error) {
                // alert("Ohh, I got the error");
                // alert(error);
                if (xhr.responseText) {

                    try {
                        // Parse the responseText into a JavaScript object
                        var errorResponse = JSON.parse(xhr.responseText);

                        // Check the properties of the errorResponse object
                        if (errorResponse && errorResponse.message) {
                            // Display the error message to the user
                            alert('Error: ' + errorResponse.message);
                        } else {
                            // Display a generic error message
                            alert('An error occurred. Please try again. ');

                        }
                    }


                    catch (parseError) {
                        console.error('Error parsing response:', parseError);
                        alert('An error occurred. Please try again. ');
                    }

                } else {
                    // Display a generic error message if no responseText is available
                    alert('An unexpected error occurred. Please try again. ');
                }
            },
            complete: function () {
                $('#loader').hide();
            }

        });
    }

    function ValidateDegreeForm() {
        let degreeName = $('#DegreeName').val().trim();
        let degreeDescription = $('#DegreeDescription').val().trim();
        $('#validationSummary').empty().hide();
        let isValid = true;
        if (degreeName.length === 0) {
            $('#validationSummary').append('<p>Degree name is required.</p>')
            isValid = false;
        }
        if (degreeDescription.length === 0) {
            $('#validationSummary').append('<p>Degree description is required.</p>')
            isValid = false;
        }

        if (!isValid) {
            $('#validationSummary').show();
        }

        return isValid;
    }

    function ShowMessage(message) {
        // Get the message container
        var messageContainer = document.getElementById('messageContainer');

        // Display success message
        messageContainer.textContent = message;
        messageContainer.style.backgroundColor = '#4CAF50';
        messageContainer.style.opacity = '1';

        // Hide the message after 3 seconds (3000 milliseconds)
        setTimeout(function () {
            messageContainer.style.opacity = '0';
        }, 3000);

        // Redirect to index page after a short delay (optional)
        setTimeout(function () {
            window.location.href = '/DegreeAjax/Index';
        }, 1000); // Redirect after 1 seconds (1000 milliseconds)
    }
</script>
