<h1>Add Trainee:</h1>
<div id="loader" style="display:none;">
    <img src="~/imgs/loadingimg.gif" />
</div>
<div id="validationSummary" class="text-danger" style="display:none;">
</div>

<form id="traineeCreateForm" asp-action="Create" method="post" enctype="multipart/form-data">
    <div class="form-group" id="">
        <label for="DegreeId">Degree:</label>
        <select id="DegreeId" name="DegreeId" class="form-control">
            <option value="">Select Degree</option>
            <!-- States will be populated dynamically via AJAX -->
        </select>

    </div>

    <div class="form-group" id="stm">
        <label for="StreamId">Stream:</label>
        <select id="StreamId" name="StreamId" class="form-control">
            <option value="">Select Stream</option>
            <!-- States will be populated dynamically via AJAX -->
        </select>

    </div>

    <div class="form-group">
        <label for="TraineeName" class="control-label">Trainee Name</label>
        <input id="TraineeName" class="form-control" />
        <span validation-for="TraineeName" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="TraineeEmail" class="control-label">Trainee Email</label>
        <input id="TraineeEmail" class="form-control" />
        <span validation-for="TraineeEmail" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="UniversityName" class="control-label">University Name</label>
        <input id="UniversityName" class="form-control" />
        <span validation-for="UniversityName" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label for="IsLastSemesterPending" class="control-label">Is Last semester pending</label>
        <input id="IsLastSemesterPending" type="checkbox" value="true" />
        <span validation-for="IsLastSemesterPending" class="text-danger"></span>
    </div>
    <br />
    <div class="form-group">
        <label for="Gender" class="control-label">Gender:</label>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Gender" name="G" value="M" id="GenderTrue" />
            <label class="form-check-label" for="Gender">Male</label>
        </div>
        <div class="form-check">
            <input class="form-check-input" type="radio" id="Gender" name="G" value="F" id="GenderFalse" />
            <label class="form-check-label" for="Gender">Female</label>
        </div>
        <span validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-group">
        <label for="DateOfApplication" class="control-label">Date of Application</label>
        <input id="DateOfApplication" type="date" class="form-control" />
        <span validation-for="DateOfApplication" class="text-danger"></span>
    </div>

    <div class="form-group">
        <label for="File" class="Control-label">Image</label>
        <input id="File" class="form-control" />
        <span validation-for="File" class="text-danger"></span>
    </div>

    <div class="form-group" id="mark">
        <label for="Ai" class="control-label">Ai Marks</label>
        <input id="Ai" class="form-control" />
        <span validation-for="Ai" class="text-danger"></span>
    </div>
    <div class="form-group" id="mark">
        <label for="Python" class="control-label">Phyton Marks</label>
        <input id="Python" class="form-control" />
        <span validation-for="Python" class="text-danger"></span>
    </div>
    <div class="form-group" id="mark">
        <label for="BusinessAnalysis" class="control-label">BusinessAnalysis Marks</label>
        <input id="BusinessAnalysis" class="form-control" />
        <span validation-for="BusinessAnalysis" class="text-danger"></span>
    </div>
    <div class="form-group" id="mark">
        <label for="MachineLearning" class="control-label">MachineLearning Marks</label>
        <input id="MachineLearning" class="form-control" />
        <span validation-for="MachineLearning" class="text-danger"></span>
    </div>
    <div class="form-group" id="mark">
        <label for="Practical" class="control-label">Practical Marks</label>
        <input id="Practical" class="form-control" />
        <span validation-for="Practical" class="text-danger"></span>
    </div>

    <div class="form-group">
        <input type="submit" value="Create" class="btn btn-primary" />
        <a asp-action="Index" class="btn btn-danger">Cancel</a>
    </div>

</form>

<script type="text/javascript" src="http://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>


<script>
    $(document).ready(function () {
        
        LoadDegrees();
        LoadStream();

        $('#traineeCreateForm').submit(function (e) {
            e.preventDefault();

            if (ValidateTraineeForm()) {
                $('#loader').show()
                AddTrainee();

            }
        })

    });

    function getCookie(name) {
        const cookieValue = document.cookie
            .split('; ')
            .find(cookie => cookie.startsWith(name + '='))
            ?.split('=')[1];
        return cookieValue ? decodeURIComponent(cookieValue) : null;
    }

    function AddTrainee() {
        
        const jwtToken = getCookie('jwtToken');
        if (!jwtToken) {
            // Redirect to login page if jwtToken cookie is not available
            window.location.href = '/auth/login';
            return; // Stop further execution
        }
            let DegreeId = $("#DegreeId").val().trim();
            let StreamId = $('#StreamId').val().trim();
            let TraineeName = $('#TraineeName').val().trim();
            let TraineeEmail = $('#TraineeEmail').val().trim();
            let UniversityName = $('#UniversityName').val().trim();
            let IsLastSemesterPending = $('#IsLastSemesterPending').is(':checked');
            let Gender = $('#Gender').val().trim();
            let DateOfApplication = $('#DateOfApplication').val().trim();
            let Ai = $('#Ai').val().trim();
            let Python = $('#Python').val().trim();
            let BusinessAnalysis = $('#BusinessAnalysis').val().trim();
            let MachineLearning = $('#MachineLearning').val().trim();
            let Practical = $('#Practical').val().trim();
            let Image = $('#File').val().trim();


            var requestData = {
                degreeId: DegreeId,
                streamId: StreamId,
                traineeName: TraineeName,
                traineeEmail: TraineeEmail,
                universityName: UniversityName,
                isLastSemesterPending: IsLastSemesterPending,
                gender: Gender,
                dateOfApplication: DateOfApplication,
                image: Image,
                ai: Ai,
                phyton: Python,
                businessAnalysis: BusinessAnalysis,
                machineLearning: MachineLearning,
                practical: Practical,
            }
            $('#loader').show();
            $.ajax({
                url: "http://localhost:5220/api/GraduateTrainee/AddTrainee",
                type: "POST",
                contentType: 'application/json',
                data: JSON.stringify(requestData),
                headers: {
                    'Authorization': 'Bearer ' + jwtToken
                },
                success: function (response) {
                    ShowMessage(response.message);

                },
                error: function (xhr, status, error) {
                    // Check if there is a responseText available
                    if (xhr.responseText) {
                        try {
                            // Parse the responseText into a JavaScript object
                            var errorResponse = JSON.parse(xhr.responseText);

                            // Check the properties of the errorResponse object
                            if (errorResponse && errorResponse.message) {
                                // Display the error message to the user
                                alert('Error: ' + errorResponse.message);
                            } else {
                                // Display a generic error message
                                alert('An error occurred. Please try again.');
                            }
                        } catch (parseError) {
                            console.error('Error parsing response:', parseError);
                            alert('An error occurred. Please try again.');
                        }
                    } else {
                        // Display a generic error message if no responseText is available
                        alert('An unexpected error occurred. Please try again.');
                    }
                },
                complete: function () {
                    $('#loader').hide();
                }
            });

        
    }

    function LoadDegrees() {
        const jwtToken = getCookie('jwtToken');
        if (!jwtToken) {
            // Redirect to login page if jwtToken cookie is not available
            window.location.href = '/auth/login';
            return; // Stop further execution
        }
        $('#loader').show();
        $.ajax({
            url: "http://localhost:5220/api/Degree/GetAllDegrees",
            type: 'GET',
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (response) {
                if (response.success) {
                    $.each(response.data, function (key, value) { //response was passing...
                        var degreeId = value.degreeId;
                        var degreeName = value.degreeName;
                        $("#DegreeId").append($("<option value=" + degreeId + ">" + degreeName + "</option>")
                        );
                    });
                }
            },
            error: function (xhr, status, error) {
                if (xhr.responseText) {

                    try {
                        // Parse the responseText into a JavaScript object
                        var errorResponse = JSON.parse(xhr.responseText);

                        // Check the properties of the errorResponse object
                        if (errorResponse && errorResponse.message) {
                            // Display the error message to the user
                            alert('Error: ' + errorResponse.message);
                        } else {
                            // Display a generic error message
                            alert('An error occurred. Please try again. ');

                        }
                    }
                    catch (parseError) {
                        console.error('Error parsing response:', parseError);
                        alert('An error occurred. Please try again. ');
                    }

                } else {
                    // Display a generic error message if no responseText is available
                    alert('An unexpected error occurred. Please try again. ');
                }
            },
            complete: function () {
                $('#loader').hide();
            }

        })

    }

    function LoadStream() {
        const jwtToken = getCookie('jwtToken');
        if (!jwtToken) {
            // Redirect to login page if jwtToken cookie is not available
            window.location.href = '/auth/login';
            return; // Stop further execution
        }
        document.getElementById('DegreeId').addEventListener('change', function () {
            var selectedDegreeId = this.value;
            if (selectedDegreeId !== '') {
                $('#loader').show();
                $.ajax({
                    url: 'http://localhost:5220/api/Stream/GetStreamByDegreeId/' + selectedDegreeId,
                    type: 'GET',
                    dataType: "json",
                    headers: {
                        'Authorization': 'Bearer ' + jwtToken
                    },

                    success: function (response) {
                        $("#stm").show();

                        $("#StreamId").empty();
                        $.each(response.data, function (key, value) { //response was passing...
                            var streamId = value.streamId;
                            var streamName = value.streamName;
                            $("#StreamId").append($("<option value=" + streamId + ">" + streamName + "</option>")
                            );
                        });
                    },
                    error: function (xhr, status, error) {
                        if (xhr.responseText) {

                            try {
                                // Parse the responseText into a JavaScript object
                                var errorResponse = JSON.parse(xhr.responseText);

                                // Check the properties of the errorResponse object
                                if (errorResponse && errorResponse.message) {

                                    // Display the error message to the user
                                    $("#stm").hide();
                                    alert('Error: ' + errorResponse.message);
                                } else {
                                    // Display a generic error message
                                    alert('An error occurred. Please try again. ');

                                }
                            }
                            catch (parseError) {
                                console.error('Error parsing response:', parseError);
                                alert('An error occurred. Please try again. ');
                            }

                        } else {
                            // Display a generic error message if no responseText is available
                            alert('An unexpected error occurred. Please try again. ');
                        }
                    },
                    complete: function () {
                        $('#loader').hide();
                    }
                });
            } else {
                $('#StreamContainer').html(''); // Clear stream dropdown if no degree selected
            }
        });
    }

    function ValidateTraineeForm() {
        let degreeId = $('#DegreeId').val().trim();
        let streamId = $('#StreamId').val().trim();
        let traineeName = $('#TraineeName').val().trim();
        let UniversityName = $('#UniversityName').val().trim();
        let Gender = $('#Gender').val().trim();
        let DateOfApplication = $('#DateOfApplication').val().trim();
        let File = $('#File').val().trim();
        $('#validationSummary').empty().hide();
        let isValid = true;
        if (degreeId.length === 0) {
            $('#validationSummary').append('<p>Degree is required.</p>')
            isValid = false;
        }
        if (streamId.length === 0) {
            $('#validationSummary').append('<p>Stream is required.</p>')
            isValid = false;
        }
        if (traineeName.length === 0) {
            $('#validationSummary').append('<p>Trainee is required.</p>')
            isValid = false;
        }
        if (UniversityName.length === 0) {
            $('#validationSummary').append('<p>UniversityName is required.</p>')
            isValid = false;
        }
        if (streamId.length === 0) {
            $('#validationSummary').append('<p>Stream is required.</p>')
            isValid = false;
        }
        if (Gender.length === 0) {
            $('#validationSummary').append('<p>Gender description is required.</p>')
            isValid = false;
        }
        if (DateOfApplication.length === 0) {
            $('#validationSummary').append('<p>DateOfApplication description is required.</p>')
            isValid = false;
        }
        if (File.length === 0) {
            $('#validationSummary').append('<p>File description is required.</p>')
            isValid = false;
        }

        if (!isValid) {
            $('#validationSummary').show();
        }

        return isValid;
    }

    function ShowMessage(message) {
        // Get the message container
        var messageContainer = document.getElementById('messageContainer');

        // Display success message
        messageContainer.textContent = message;
        messageContainer.style.backgroundColor = '#4CAF50';
        messageContainer.style.opacity = '1';

        // Hide the message after 3 seconds (3000 milliseconds)
        setTimeout(function () {
            messageContainer.style.opacity = '0';
        }, 3000);

        // Redirect to index page after a short delay (optional)
        setTimeout(function () {
            window.location.href = '/GTraineeAjax/Index';
        }, 1000); // Redirect after 1 seconds (1000 milliseconds)
    }
</script>