<div id="loader" style="display:none;">
    <img src="~/imgs/loadingimg.gif" />
</div>

<h1>Graduate Trainees Ajax: </h1>

<table class="table" id="streamData">
    <thead>
        <tr>

            <th>Trainee Name: </th>
            <th>Degree Id:</th>
            <th>Stream Id:</th>
            @* <th>Degree Name: </th> *@
            @* <th>Stream Name: </th> *@
            <th>Trainee Email: </th>
            <th>University Name: </th>
            <th>Last Semester Penting: </th>
            <th>Gender </th>
            <th>Date of Application: </th>
            <th>Actions:</th>

        </tr>
    </thead>
    <tbody>
    </tbody>
</table>

<a asp-action="Create" asp-controller="GTraineeAjax" class="btn btn-success">Add</a>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>

<script>
    $(document).ready(function () {
        
        LoadTrainees();
    });

    function getCookie(name) {
        const cookieValue = document.cookie
            .split('; ')
            .find(cookie => cookie.startsWith(name + '='))
            ?.split('=')[1];
        return cookieValue ? decodeURIComponent(cookieValue) : null;
    }

    function LoadTrainees(){
        const jwtToken = getCookie('jwtToken');
        if (!jwtToken) {
            // Redirect to login page if jwtToken cookie is not available
            window.location.href = '/auth/login';
            return; // Stop further execution
        }
        $('#loader').show();
        $.ajax({
            url: "http://localhost:5220/api/GraduateTrainee/GetAll",
            type: 'GET',
            dataType: 'json',
            headers: {
                'Authorization': 'Bearer ' + jwtToken
            },
            success: function (response) {
                if (response.success) {
                    response.data.forEach(function (trainee) {
                        if (trainee.isLastSemesterPending === true) {
                            trainee.isLastSemesterPending = "Pending";
                        } else {
                            trainee.isLastSemesterPending = "Not Pending";
                        }

                        $('#streamData tbody').append(`
                                <tr>
                                     <td>${trainee.traineeName}</td>
                                     <td>${trainee.degreeId}</td>
                                     <td>${trainee.streamId}</td>
                                     <td>${trainee.traineeEmail}</td>
                                     <td>${trainee.universityName}</td>
                                     <td>${trainee.isLastSemesterPending}</td>
                                     <td>${trainee.gender}</td>
                                     <td>${trainee.dateOfApplication}</td>
                                     <td>
                                        <a class="btn btn-primary" href="/GTraineeAjax/Edit/${trainee.graduateTraineeId}">Edit<a/>
                                                <a class="btn btn-warning" href="/GTraineeAjax/Details/${trainee.graduateTraineeId}">Details<a/>
                                                <a class="btn btn-danger" href="/GTraineeAjax/Delete/${trainee.graduateTraineeId}">Delete<a/>
                                     </td>

                                </tr>
                            `)
                    })
                }
            },
            error: function (xhr, status, error) {
                if (xhr.responseText) {

                    try {
                        // Parse the responseText into a JavaScript object
                        var errorResponse = JSON.parse(xhr.responseText);

                        // Check the properties of the errorResponse object
                        if (errorResponse && errorResponse.message) {
                            // Display the error message to the user
                            alert('Error: ' + errorResponse.message);
                        } else {
                            // Display a generic error message
                            alert('An error occurred. Please try again. ');

                        }
                    }


                    catch (parseError) {
                        console.error('Error parsing response:', parseError);
                        alert('An error occurred. Please try again. ');
                    }

                } else {
                    // Display a generic error message if no responseText is available
                    alert('An unexpected error occurred. Please try again. ');
                }
            },
            complete: function () {
                $('#loader').hide();
            }
        });
    }
</script>